.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttons button {
  background-color: #3b81f6;
  color: #fff;
  border: none;
}

.buttons button:hover {
  cursor: pointer;
}

.buttons button:disabled {
  opacity: 0.5;
  cursor: default;
}
