.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttons button {
  background-color: #0d131f;
}

.buttons button:hover {
  cursor: pointer;
}

.buttons button:disabled {
  opacity: 0.5;
  cursor: default;
}
